key : Database_URL
DATABASE_URL  = postgresql://trripzy_user:pUUtklU986x0iZwa1jQRFM2hJjToIazb@dpg-d77joabuibrs73c1o1d0-a/trripzy
SECRET_KEY    = 9098e2fef3fd0961edd77bc4dca1a8247c1d4deeb855234eed6737aef9fc8696
MONGO_URL     = mongodb+srv://hghaste_db_user:WfuEgIOZL5hC6dno@cluster0.9n0k1zt.mongodb.net/?appName=Cluster0
CLOUDINARY_Cloud_name  = dusl8hilm
CLOUDINARY_API_KEY = 933863442389513
CLOUDINARY_API_SECRET = cFb8XFiwqyuSd_TcmwbhSd89st0
